<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title th:text="${selectedSubject} + ' 관련 질문 목록'">질문 목록</title>
</head>
<h1 th:text="${selectedSubject} +  ' 관련 질문 목록'">질문 목록</h1>

<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="q, stat : ${questionList}">
        <td th:text="${stat.count}">1</td>
        <td>
            <a th:href="@{|/question/detail/${q.id}|}" th:text="${q.subject}">제목</a>
        </td>
        <td th:text="${#temporals.format(q.createDate, 'yyyy-MM-dd HH:mm')}">2025-06-16</td>
    </tr>
    </tbody>
</table>

<a href="/question/list">← 돌아가기</a>

</body>
</html>